In [10]:
import sys
sys.path.append("..")
import os

%matplotlib inline

import scipy.io as sio
import numpy as np
from nilearn import plotting 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from scipy import stats
from fctools import networks, figures

#---- matplotlib settings
import matplotlib.pyplot as plt
plt.style.use('seaborn-white')
plt.rcParams['font.family'] = 'Helvetica'

import scipy.io as scio
import os

In [11]:
parcellations = np.asarray([['network32', 'Network32', 32,8],
                            ['power', 'Power', 264,8], 
                            ['schaefer', 'Schaefer', 300,8]])

out_dir = 'H:\\Jupyter\\Stroke15\\Multilayer_stroke15\\Results\\02-multilayer'

parcellation = 'network32'
norm_mean_allegiance = np.load(f'{out_dir}\\{parcellation}\\whole-brain_network_normalized_mean_allegiance_50.npy')

In [12]:
# norm_mean_allegiance = np.load('../../dfc_modules_result/whole-brain_network_normalized_mean_allegiance_corrected.npy')
norm_mean_allegiance.shape

(30, 8, 8)

In [13]:
norm_mean_allegiance.shape
recru_inte = norm_mean_allegiance.reshape(30,-1)
recru_inte_df = pd.DataFrame()
group_labels = ["Mild","Mild","Severe","Severe","Severe","Severe","Mild",
           "Severe","Severe","Mild","Severe","Severe","Mild","Severe","Mild"]+["Control"]*15
n_net = int(parcellations[0][3])

In [14]:

# group_labels = np.array(['Stroke']*15 +["Control"]*15)
for i, sub in enumerate(group_labels):
    temp_df = pd.DataFrame()
    for l, net2 in enumerate(range(n_net)):
        k = l
        while k < n_net:
            pre = pd.DataFrame([[str(i), group_labels[i], str(l)+str(k), norm_mean_allegiance[i][l][k]]], 
                                   columns = ['Subject', 'Group', 'Bet_nets', 'Mean_alleg'])
            if l == 0 and k == 0:
                    temp_df = pre
            else:
                temp_df = pd.concat((temp_df,pre), axis=0)
            k = k+1
    recru_inte_df = pd.concat((recru_inte_df, temp_df ), axis=0)

In [15]:
recru_inte_df

   Subject    Group Bet_nets  Mean_alleg
0        0     Mild       00    0.949928
0        0     Mild       01    0.845925
0        0     Mild       02    1.259319
0        0     Mild       03    1.000949
0        0     Mild       04    0.945484
..     ...      ...      ...         ...
0       29  Control       56    1.729899
0       29  Control       57    1.568657
0       29  Control       66    1.338595
0       29  Control       67    1.271008
0       29  Control       77    1.286614

[1080 rows x 4 columns]

In [9]:
recru_inte_df.to_csv(f'{out_dir}\\{parcellations[0][0]}\\network32_between_net_mean_alle_tidy_corrected_tr_50.csv')